.version.casual_cube /* version checker */
{
	color: #0000E7;
	background-color: #F432E7;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	margin-right: auto;
	z-index: 1;
	background-image: none;
	width: 100%;
	background-color: transparent;
	border-color: #000000;
	border-width: 0px;
	margin-left: auto;
}

#u457
{
	margin-right: -10000px;
	position: relative;
	z-index: 10;
}

#u459
{
	margin-right: -10000px;
	position: relative;
	z-index: 12;
}

#u461
{
	margin-right: -10000px;
	position: relative;
	z-index: 14;
}

#u515
{
	position: relative;
	background-color: transparent;
	z-index: 16;
}

#u570
{
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
	z-index: 18;
}

#u572
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 20;
	position: relative;
}

#u607-11
{
	background-color: transparent;
	z-index: 22;
	text-align: justify;
	font-size: 19px;
	line-height: 23px;
	font-family: imprima, sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	position: relative;
}

#u5304
{
	background-color: transparent;
	z-index: 43;
	border-width: 0px;
	position: relative;
	border-color: transparent;
}

#u634
{
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
	z-index: 33;
}

#u642
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 35;
	position: relative;
}

#u649
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 37;
	position: relative;
}

#u687
{
	margin-right: -10000px;
	position: relative;
	background-color: transparent;
	z-index: 39;
}

#u695
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 41;
	position: relative;
}

#u634_img,#u642_img,#u649_img,#u687_img,#u695_img
{
	width: 100%;
}

#u2042-6
{
	z-index: 2;
}

#u2038
{
	position: relative;
	z-index: 8;
}

.html
{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0CBCF7', endColorstr='#FF0EBEF7', GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0CBCF7, endColorstr=#FF0EBEF7, GradientType=0);
	background-color: #0CBCF7;
}

body
{
	position: relative;
}

@media (min-width: 751px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 2499px;
		padding-top: 20px;
		padding-bottom: 22px;
		max-width: 960px;
	}

	#pu457
	{
		width: 34.38%;
		margin-left: 32.82%;
	}

	#u457
	{
		width: 76px;
	}

	#u459
	{
		width: 76px;
		left: 38.49%;
	}

	#u461
	{
		width: 76px;
		left: 76.97%;
	}

	#u515
	{
		width: 450px;
		margin-top: 26px;
		margin-left: 26.57%;
	}

	#pu570
	{
		margin-top: 28px;
		width: 41.57%;
		margin-left: 28.96%;
	}

	#u570
	{
		width: 186px;
	}

	#u572
	{
		width: 186px;
		left: 53.39%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 54px;
		width: 83.65%;
		margin-left: 8.13%;
	}

	#u5304
	{
		min-height: 484px;
		margin-top: 66px;
		width: 88.86%;
		margin-left: 5.53%;
	}

	#pu634
	{
		margin-top: 65px;
		width: 83.44%;
		margin-left: 8.23%;
	}

	#u634
	{
		width: 31.72%;
	}

	#u642
	{
		width: 31.72%;
		left: 34.21%;
	}

	#u649
	{
		width: 31.72%;
		left: 68.29%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 55.94%;
		margin-left: 22.09%;
	}

	#u687
	{
		width: 47.3%;
	}

	#u695
	{
		width: 47.3%;
		left: 52.71%;
	}

	#u2042-6
	{
		min-height: 49px;
		margin-top: 60px;
		position: relative;
		width: 99.9%;
		margin-left: 0.11%;
	}

	#u2038
	{
		width: 100px;
		margin-top: 10px;
		margin-left: 44.8%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 576px) and (max-width: 750px)
{
	#muse_css_mq
	{
		background-color: #0002ee;
	}

	#bp_750.active
	{
		display: block;
	}

	#page
	{
		min-height: 2228px;
		max-width: 750px;
	}

	#page_position_content
	{
		padding-top: 24px;
		padding-bottom: 35px;
		width: 100%;
	}

	#u457
	{
		width: 76px;
		left: 28.54%;
	}

	#u459
	{
		width: 76px;
		left: 44.81%;
	}

	#u461
	{
		width: 76px;
		left: 62.4%;
	}

	#u515
	{
		margin-top: 28px;
		width: 60%;
		margin-left: 20%;
	}

	#u570
	{
		width: 24.8%;
		left: 22.67%;
	}

	#u572
	{
		width: 24.8%;
		left: 52.94%;
	}

	#pu457,#u515_img,#u570_img,#u572_img
	{
		width: 100%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 32px;
		width: 83.34%;
		margin-left: 8.27%;
	}

	#u5304
	{
		min-height: 357px;
		margin-top: 33px;
		width: 113.74%;
		margin-left: 5.74%;
	}

	#pu570,#pu634
	{
		margin-top: 32px;
		width: 100%;
	}

	#u634
	{
		width: 26.41%;
		left: 8.27%;
	}

	#u642
	{
		width: 26.41%;
		left: 36.8%;
	}

	#u649
	{
		width: 26.41%;
		left: 65.34%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 100%;
	}

	#u687
	{
		width: 26.41%;
		left: 22%;
	}

	#u695
	{
		width: 26.41%;
		left: 51.47%;
	}

	#u2042-6
	{
		min-height: 55px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 55px;
		margin-top: 2px;
	}

	#u2038
	{
		width: 100px;
		margin-top: 10px;
		margin-left: 43.2%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 441px) and (max-width: 575px)
{
	#muse_css_mq
	{
		background-color: #00023f;
	}

	#bp_575.active
	{
		display: block;
	}

	#page
	{
		min-height: 2031px;
		max-width: 575px;
	}

	#page_position_content
	{
		padding-top: 24px;
		padding-bottom: 43px;
		width: 100%;
	}

	#u457
	{
		width: 76px;
		left: 21.4%;
	}

	#u459
	{
		width: 76px;
		left: 43.66%;
	}

	#u461
	{
		width: 76px;
		left: 65.4%;
	}

	#u515
	{
		margin-top: 18px;
		width: 69.57%;
		margin-left: 15.14%;
	}

	#pu570
	{
		margin-top: 27px;
		width: 100%;
	}

	#u570
	{
		width: 32.35%;
		left: 16%;
	}

	#u572
	{
		width: 32.35%;
		left: 51.66%;
	}

	#pu457,#u515_img,#u570_img,#u572_img
	{
		width: 100%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 27px;
		width: 83.31%;
		margin-left: 8.35%;
	}

	#u5304
	{
		min-height: 319px;
		margin-top: 40px;
		width: 97.4%;
		margin-left: 1.22%;
	}

	#pu634
	{
		margin-top: 23px;
		width: 100%;
	}

	#u634
	{
		width: 26.44%;
		left: 5.74%;
	}

	#u642
	{
		width: 26.44%;
		left: 34.27%;
	}

	#u649
	{
		width: 26.44%;
		left: 62.79%;
	}

	#pu687
	{
		margin-top: 15px;
		width: 100%;
	}

	#u687
	{
		width: 26.44%;
		left: 19.66%;
	}

	#u695
	{
		width: 26.44%;
		left: 49.05%;
	}

	#u2042-6
	{
		min-height: 49px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 49px;
		margin-top: 127px;
	}

	#u2038
	{
		width: 100px;
		margin-top: 4px;
		margin-left: 41.22%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 321px) and (max-width: 440px)
{
	#muse_css_mq
	{
		background-color: #0001b8;
	}

	#bp_440.active
	{
		display: block;
	}

	#page
	{
		min-height: 1668px;
		max-width: 440px;
	}

	#page_position_content
	{
		padding-top: 24px;
		padding-bottom: 38px;
		width: 100%;
	}

	#pu457
	{
		width: 69.55%;
		margin-left: 15.23%;
	}

	#u457
	{
		width: 60px;
	}

	#u459
	{
		width: 60px;
		left: 40.85%;
	}

	#u461
	{
		width: 60px;
		left: 80.4%;
	}

	#u515
	{
		margin-top: 18px;
		width: 68.64%;
		margin-left: 16.14%;
	}

	#pu570
	{
		margin-top: 22px;
		width: 68.64%;
		margin-left: 16.14%;
	}

	#u570
	{
		width: 43.38%;
	}

	#u572
	{
		width: 43.38%;
		left: 56.63%;
	}

	#u515_img,#u570_img,#u572_img
	{
		width: 100%;
	}

	#u607-11
	{
		min-height: 211px;
		margin-top: 22px;
		width: 83.19%;
		margin-left: 8.41%;
	}

	#u5304
	{
		min-height: 319px;
		margin-top: 10px;
		width: 127.28%;
		left: -16.6%;
	}

	#pu634
	{
		margin-top: 10px;
		width: 83.41%;
		margin-left: 8.19%;
	}

	#u634
	{
		width: 31.61%;
	}

	#u642
	{
		width: 31.61%;
		left: 34.06%;
	}

	#u649
	{
		width: 31.61%;
		left: 68.4%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 55.91%;
		margin-left: 22.05%;
	}

	#u687
	{
		width: 47.16%;
	}

	#u695
	{
		width: 47.16%;
		left: 52.85%;
	}

	#u2042-6
	{
		min-height: 72px;
		margin-top: 20px;
		position: relative;
		width: 90.91%;
		margin-left: 4.55%;
	}

	#u2038
	{
		width: 90px;
		margin-left: 40.23%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1605.9516198704105px;
		padding-bottom: 0px;
		max-width: 320px;
	}

	#page_position_content
	{
		padding-top: 24px;
		padding-bottom: 50px;
		width: 100%;
	}

	#u457
	{
		width: 54px;
		left: 16.25%;
	}

	#u459
	{
		width: 54px;
		left: 41.57%;
	}

	#u461
	{
		width: 54px;
		left: 66.57%;
	}

	#u515
	{
		margin-top: 15px;
		width: 78.13%;
		margin-left: 11.57%;
	}

	#pu570
	{
		margin-top: 15px;
		width: 100%;
	}

	#u570
	{
		width: 29.69%;
		left: 11.57%;
	}

	#u572
	{
		margin-top: 1px;
		width: 29.69%;
		left: 58.75%;
	}

	#pu457,#u515_img,#u570_img,#u572_img
	{
		width: 100%;
	}

	#u607-11
	{
		min-height: 198px;
		margin-top: 24px;
		width: 89.69%;
		margin-left: 5.32%;
	}

	#u5304
	{
		min-height: 319px;
		margin-top: 32px;
		width: 175%;
		left: -35.94%;
	}

	#pu634
	{
		margin-top: 21px;
		width: 100%;
	}

	#u634
	{
		width: 26.57%;
		left: 8.13%;
	}

	#u642
	{
		width: 26.57%;
		left: 36.88%;
	}

	#u649
	{
		width: 26.57%;
		left: 65.32%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 100%;
	}

	#u687
	{
		width: 26.57%;
		left: 22.19%;
	}

	#u695
	{
		width: 26.57%;
		left: 51.57%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 60px;
	}

	#u2038
	{
		width: 80px;
		margin-left: 36.88%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}

	body
	{
		min-width: 320px;
	}
}

