.version.casual_cube /* version checker */
{
	color: #0000F2;
	background-color: #95AFF8;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-color: transparent;
	border-width: 0px;
	margin-left: auto;
	border-color: #000000;
	background-image: none;
	margin-right: auto;
	width: 100%;
}

#u457
{
	z-index: 10;
	margin-right: -10000px;
	position: relative;
}

#u459
{
	z-index: 12;
	margin-right: -10000px;
	position: relative;
}

#u461
{
	z-index: 14;
	margin-right: -10000px;
	position: relative;
}

#u515
{
	background-color: transparent;
	z-index: 16;
	position: relative;
}

#u570
{
	z-index: 18;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
}

#u572
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 20;
	position: relative;
}

#u607-11
{
	line-height: 26px;
	text-align: justify;
	position: relative;
	z-index: 22;
	font-size: 22px;
	color: #FFFFFF;
	background-color: transparent;
}

#u634
{
	z-index: 33;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
}

#u642
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 35;
	position: relative;
}

#u649
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 37;
	position: relative;
}

#u687
{
	z-index: 39;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
}

#u695
{
	margin-right: -10000px;
	background-color: transparent;
	z-index: 41;
	position: relative;
}

#u515_img,#u570_img,#u572_img,#u634_img,#u642_img,#u649_img,#u687_img,#u695_img
{
	width: 100%;
}

#u2042-6
{
	z-index: 2;
}

#u2038
{
	z-index: 8;
	width: 108px;
	position: relative;
}

.html
{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0CBCF7', endColorstr='#FF0EBEF7', GradientType=0)";
	background-color: #0CBCF7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0CBCF7, endColorstr=#FF0EBEF7, GradientType=0);
}

body
{
	position: relative;
}

@media (min-width: 727px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1902.9170626349894px;
		padding-top: 20px;
		padding-bottom: 14.082937365010594px;
		max-width: 960px;
	}

	#pu457
	{
		width: 34.38%;
		margin-left: 32.82%;
	}

	#u457
	{
		width: 76px;
	}

	#u459
	{
		width: 76px;
		left: 38.49%;
	}

	#u461
	{
		width: 76px;
		left: 76.97%;
	}

	#u515
	{
		margin-top: 26px;
		width: 47.19%;
		margin-left: 26.36%;
	}

	#pu570
	{
		margin-top: 21px;
		width: 40.21%;
		margin-left: 29.9%;
	}

	#u570
	{
		width: 41.46%;
	}

	#u572
	{
		width: 41.46%;
		left: 58.55%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 29px;
		width: 65.21%;
		margin-left: 17.4%;
	}

	#pu634
	{
		margin-top: 23px;
		width: 83.44%;
		margin-left: 8.23%;
	}

	#u634
	{
		width: 31.72%;
	}

	#u642
	{
		width: 31.72%;
		left: 34.21%;
	}

	#u649
	{
		width: 31.72%;
		left: 68.29%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 55.94%;
		margin-left: 22.09%;
	}

	#u687
	{
		width: 47.3%;
	}

	#u695
	{
		width: 47.3%;
		left: 52.71%;
	}

	#u2042-6
	{
		min-height: 49px;
		margin-top: 42px;
		position: relative;
		width: 52.4%;
		margin-left: 23.75%;
	}

	#u2038
	{
		margin-top: 10px;
		margin-left: 44.38%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 726px) and (max-width: 726px)
{
	#muse_css_mq
	{
		background-color: #0002d6;
	}

	#bp_726.active
	{
		display: block;
	}

	#page
	{
		min-height: 1902.9170626349894px;
		padding-top: 24px;
		padding-bottom: 10.082937365010594px;
		max-width: 726px;
	}

	#pu457
	{
		width: 44.22%;
		margin-left: 28.52%;
	}

	#u457
	{
		width: 76px;
	}

	#u459
	{
		width: 76px;
		left: 36.77%;
	}

	#u461
	{
		width: 76px;
		left: 76.33%;
	}

	#u515
	{
		margin-top: 22px;
		width: 47.25%;
		margin-left: 26.45%;
	}

	#pu570
	{
		margin-top: 21px;
		width: 40.23%;
		margin-left: 29.89%;
	}

	#u570
	{
		width: 41.44%;
	}

	#u572
	{
		width: 41.44%;
		left: 58.57%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 29px;
		width: 65.16%;
		margin-left: 17.5%;
	}

	#pu634
	{
		margin-top: 23px;
		width: 83.48%;
		margin-left: 8.27%;
	}

	#u634
	{
		width: 31.69%;
	}

	#u642
	{
		width: 31.69%;
		left: 34.16%;
	}

	#u649
	{
		width: 31.69%;
		left: 68.32%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 55.93%;
		margin-left: 22.04%;
	}

	#u687
	{
		width: 47.3%;
	}

	#u695
	{
		width: 47.3%;
		left: 52.71%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 318px;
		position: relative;
		width: 52.35%;
		margin-left: 23.83%;
	}

	#u2038
	{
		margin-top: 14px;
		margin-left: 43.81%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 601px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 1665.9170626349894px;
		padding-top: 24px;
		padding-bottom: 10.082937365010594px;
		max-width: 725px;
	}

	#pu457
	{
		width: 44.28%;
		margin-left: 28.56%;
	}

	#u457
	{
		width: 76px;
	}

	#u459
	{
		width: 76px;
		left: 36.77%;
	}

	#u461
	{
		width: 76px;
		left: 76.33%;
	}

	#u515
	{
		margin-top: 22px;
		width: 47.18%;
		margin-left: 26.35%;
	}

	#pu570
	{
		margin-top: 22px;
		width: 42.76%;
		margin-left: 28.69%;
	}

	#u570
	{
		width: 44.84%;
	}

	#u572
	{
		width: 44.84%;
		left: 55.17%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 22px;
		width: 65.25%;
		margin-left: 17.38%;
	}

	#pu634
	{
		margin-top: 23px;
		width: 83.45%;
		margin-left: 8.28%;
	}

	#u634
	{
		width: 31.74%;
	}

	#u642
	{
		width: 31.74%;
		left: 34.22%;
	}

	#u649
	{
		width: 31.74%;
		left: 68.27%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 55.87%;
		margin-left: 22.07%;
	}

	#u687
	{
		width: 47.41%;
	}

	#u695
	{
		width: 47.41%;
		left: 52.6%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 82px;
		position: relative;
		width: 52.42%;
		margin-left: 23.87%;
	}

	#u2038
	{
		margin-top: 14px;
		margin-left: 43.87%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 546px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 1463.9170626349894px;
		padding-top: 24px;
		padding-bottom: 9.082937365010594px;
		max-width: 600px;
	}

	#pu457
	{
		width: 50.34%;
		margin-left: 24.84%;
	}

	#u457
	{
		width: 76px;
	}

	#u459
	{
		width: 76px;
		left: 37.42%;
	}

	#u461
	{
		width: 76px;
		left: 74.84%;
	}

	#u515
	{
		margin-top: 26px;
		width: 47.17%;
		margin-left: 26.34%;
	}

	#pu570
	{
		margin-top: 15px;
		width: 49.17%;
		margin-left: 24.34%;
	}

	#u570
	{
		width: 47.12%;
	}

	#u572
	{
		width: 47.12%;
		left: 52.89%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 48px;
		width: 93.17%;
		margin-left: 3.51%;
	}

	#pu634
	{
		margin-top: 21px;
		width: 83.5%;
		margin-left: 8.34%;
	}

	#u634
	{
		width: 31.74%;
	}

	#u642
	{
		width: 31.74%;
		left: 34.14%;
	}

	#u649
	{
		width: 31.74%;
		left: 68.27%;
	}

	#pu687
	{
		margin-top: 11px;
		width: 55.84%;
		margin-left: 22%;
	}

	#u687
	{
		width: 47.47%;
	}

	#u695
	{
		width: 47.47%;
		left: 52.84%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 47px;
		position: relative;
		width: 76.34%;
		margin-left: 11.84%;
	}

	#u2038
	{
		margin-top: 15px;
		margin-left: 41%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 466px) and (max-width: 545px)
{
	#muse_css_mq
	{
		background-color: #000221;
	}

	#bp_545.active
	{
		display: block;
	}

	#page
	{
		min-height: 1363.9170626349894px;
		padding-top: 24px;
		padding-bottom: 9.082937365010594px;
		max-width: 545px;
	}

	#pu457
	{
		width: 51.75%;
		margin-left: 24.78%;
	}

	#u457
	{
		width: 76px;
	}

	#u459
	{
		width: 76px;
		left: 36.53%;
	}

	#u461
	{
		width: 76px;
		left: 73.05%;
	}

	#u515
	{
		margin-top: 18px;
		width: 49.73%;
		margin-left: 25.14%;
	}

	#pu570
	{
		margin-top: 10px;
		width: 46.98%;
		margin-left: 26.43%;
	}

	#u570
	{
		width: 44.54%;
	}

	#u572
	{
		width: 44.54%;
		left: 55.47%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 10px;
		width: 95.6%;
		margin-left: 2.21%;
	}

	#pu634
	{
		margin-top: 42px;
		width: 83.49%;
		margin-left: 8.26%;
	}

	#u634
	{
		width: 31.65%;
	}

	#u642
	{
		width: 31.65%;
		left: 34.07%;
	}

	#u649
	{
		width: 31.65%;
		left: 68.36%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 55.97%;
		margin-left: 22.02%;
	}

	#u687
	{
		width: 47.22%;
	}

	#u695
	{
		width: 47.22%;
		left: 52.46%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 17px;
		position: relative;
		width: 76.34%;
		margin-left: 11.75%;
	}

	#u2038
	{
		margin-top: 15px;
		margin-left: 40.92%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 396px) and (max-width: 465px)
{
	#muse_css_mq
	{
		background-color: #0001d1;
	}

	#bp_465.active
	{
		display: block;
	}

	#page
	{
		min-height: 1216.9670626349894px;
		padding-top: 24px;
		padding-bottom: 21.03293736501064px;
		max-width: 465px;
	}

	#pu457
	{
		width: 100%;
	}

	#u457
	{
		width: 66px;
		left: 18.07%;
	}

	#u459
	{
		width: 66px;
		left: 43.66%;
	}

	#u461
	{
		width: 66px;
		left: 69.25%;
	}

	#u515
	{
		margin-top: 20px;
		width: 53.77%;
		margin-left: 23.02%;
	}

	#pu570
	{
		margin-top: 8px;
		width: 100%;
	}

	#u570
	{
		width: 23.88%;
		left: 24.52%;
	}

	#u572
	{
		width: 23.88%;
		left: 50.54%;
	}

	#u607-11
	{
		min-height: 211px;
		margin-top: 20px;
		width: 93.12%;
		margin-left: 3.45%;
	}

	#pu634
	{
		margin-top: 7px;
		width: 100%;
	}

	#u634
	{
		width: 26.46%;
		left: 8.18%;
	}

	#u642
	{
		width: 26.46%;
		left: 36.78%;
	}

	#u649
	{
		width: 26.46%;
		left: 65.38%;
	}

	#pu687
	{
		margin-top: 11px;
		width: 100%;
	}

	#u687
	{
		width: 26.46%;
		left: 21.94%;
	}

	#u695
	{
		width: 26.46%;
		left: 51.4%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
	}

	#u2038
	{
		margin-left: 39.14%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 321px) and (max-width: 395px)
{
	#muse_css_mq
	{
		background-color: #00018b;
	}

	#bp_395.active
	{
		display: block;
	}

	#page
	{
		min-height: 1200.9670626349894px;
		padding-top: 24px;
		padding-bottom: 21.03293736501064px;
		max-width: 395px;
	}

	#pu457
	{
		width: 100%;
	}

	#u457
	{
		width: 66px;
		left: 17.98%;
	}

	#u459
	{
		width: 66px;
		left: 43.55%;
	}

	#u461
	{
		width: 66px;
		left: 69.12%;
	}

	#u515
	{
		margin-top: 20px;
		width: 53.93%;
		margin-left: 23.04%;
	}

	#pu570
	{
		margin-top: 8px;
		width: 100%;
	}

	#u570
	{
		width: 25.32%;
		left: 22.03%;
	}

	#u572
	{
		width: 25.32%;
		left: 50.13%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 19px;
		width: 89.63%;
		margin-left: 5.32%;
	}

	#pu634
	{
		margin-top: 18px;
		width: 100%;
	}

	#u634
	{
		width: 26.59%;
		left: 8.36%;
	}

	#u642
	{
		width: 26.59%;
		left: 36.71%;
	}

	#u649
	{
		width: 26.59%;
		left: 65.32%;
	}

	#pu687
	{
		margin-top: 11px;
		width: 100%;
	}

	#u687
	{
		width: 26.59%;
		left: 22.03%;
	}

	#u695
	{
		width: 26.59%;
		left: 51.4%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 27px;
	}

	#u2038
	{
		margin-left: 39.25%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 1200.9670626349894px;
		padding-top: 24px;
		padding-bottom: 21.03293736501064px;
		max-width: 320px;
	}

	#pu457
	{
		width: 100%;
	}

	#u457
	{
		width: 56px;
		left: 10.63%;
	}

	#u459
	{
		width: 56px;
		left: 43.44%;
	}

	#u461
	{
		width: 56px;
		left: 71.88%;
	}

	#u515
	{
		margin-top: 30px;
		width: 53.75%;
		margin-left: 23.13%;
	}

	#pu570
	{
		margin-top: 7px;
		width: 100%;
	}

	#u570
	{
		width: 25.32%;
		left: 22.19%;
	}

	#u572
	{
		margin-top: 1px;
		width: 25.32%;
		left: 50%;
	}

	#u607-11
	{
		min-height: 123px;
		margin-top: 18px;
		width: 89.69%;
		margin-left: 5.32%;
	}

	#pu634
	{
		margin-top: 19px;
		width: 100%;
	}

	#u634
	{
		width: 26.57%;
		left: 8.13%;
	}

	#u642
	{
		width: 26.57%;
		left: 36.88%;
	}

	#u649
	{
		width: 26.57%;
		left: 65.32%;
	}

	#pu687
	{
		margin-top: 10px;
		width: 100%;
	}

	#u687
	{
		width: 26.57%;
		left: 22.19%;
	}

	#u695
	{
		width: 26.57%;
		left: 51.57%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 85px;
	}

	#u2038
	{
		margin-left: 33.13%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}

	body
	{
		min-width: 320px;
	}
}

