.version.contact /* version checker */
{
	color: #00000A;
	background-color: #B9A1B7;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-color: transparent;
	border-width: 0px;
	margin-left: auto;
	border-color: #000000;
	background-image: none;
	margin-right: auto;
	width: 100%;
}

#u2224-4
{
	min-height: 50px;
	text-align: center;
	background-color: transparent;
	color: #FFFFFF;
	z-index: 10;
	font-size: 44px;
	line-height: 53px;
	position: relative;
}

#u3981-7
{
	min-height: 118px;
	position: relative;
	z-index: 14;
	color: #FFFFFF;
	background-color: transparent;
}

#u3981-2
{
	font-size: 20px;
	line-height: 24px;
	text-align: justify;
}

#u3981-5
{
	font-size: 23px;
	line-height: 23px;
	text-align: center;
	padding-top: 12px;
}

#u3981-3
{
	color: #FFFFFF;
}

#u2042-6
{
	z-index: 2;
}

#u2038
{
	z-index: 8;
	width: 108px;
	position: relative;
}

.html
{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0CBCF7', endColorstr='#FF0EBEF7', GradientType=0)";
	background-color: #0CBCF7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0CBCF7, endColorstr=#FF0EBEF7, GradientType=0);
}

body
{
	position: relative;
}

@media (min-width: 727px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 723.7170626349895px;
		padding-top: 30px;
		padding-bottom: 14.282937365010525px;
		max-width: 960px;
	}

	#u2224-4
	{
		width: 43.23%;
		margin-left: 28.44%;
	}

	#u3981-7
	{
		margin-top: 52px;
		width: 70.53%;
		margin-left: 14.8%;
	}

	#u2042-6
	{
		min-height: 49px;
		margin-top: 326px;
		position: relative;
		width: 52.4%;
		margin-left: 23.75%;
	}

	#u2038
	{
		margin-top: 10px;
		margin-left: 44.38%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 726px) and (max-width: 726px)
{
	#muse_css_mq
	{
		background-color: #0002d6;
	}

	#bp_726.active
	{
		display: block;
	}

	#page
	{
		min-height: 727.7170626349895px;
		padding-top: 30px;
		padding-bottom: 10.282937365010525px;
		max-width: 726px;
	}

	#u2224-4
	{
		width: 43.26%;
		margin-left: 28.38%;
	}

	#u3981-7
	{
		margin-top: 52px;
		width: 70.53%;
		margin-left: 14.74%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 306px;
		position: relative;
		width: 52.35%;
		margin-left: 23.83%;
	}

	#u2038
	{
		margin-top: 14px;
		margin-left: 43.81%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 601px) and (max-width: 725px)
{
	#muse_css_mq
	{
		background-color: #0002d5;
	}

	#bp_725.active
	{
		display: block;
	}

	#page
	{
		min-height: 631px;
		padding-top: 127px;
		padding-bottom: 10px;
		max-width: 725px;
	}

	#u2224-4
	{
		width: 43.18%;
		margin-left: 28.42%;
	}

	#u3981-7
	{
		margin-top: 19px;
		width: 66.07%;
		margin-left: 16.97%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 242px;
		position: relative;
		width: 52.42%;
		margin-left: 23.87%;
	}

	#u2038
	{
		margin-top: 14px;
		margin-left: 43.87%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 501px) and (max-width: 600px)
{
	#muse_css_mq
	{
		background-color: #000258;
	}

	#bp_600.active
	{
		display: block;
	}

	#page
	{
		min-height: 632px;
		padding-top: 127px;
		padding-bottom: 9px;
		max-width: 600px;
	}

	#u2224-4
	{
		width: 43.17%;
		margin-left: 28.34%;
	}

	#u3981-7
	{
		margin-top: 27px;
		width: 71.84%;
		margin-left: 14.17%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 234px;
		position: relative;
		width: 76.34%;
		margin-left: 11.84%;
	}

	#u2038
	{
		margin-top: 15px;
		margin-left: 41%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 466px) and (max-width: 500px)
{
	#muse_css_mq
	{
		background-color: #0001f4;
	}

	#bp_500.active
	{
		display: block;
	}

	#page
	{
		min-height: 632px;
		padding-top: 127px;
		padding-bottom: 9px;
		max-width: 500px;
	}

	#u2224-4
	{
		width: 68%;
		margin-left: 16%;
	}

	#u3981-7
	{
		margin-top: 30px;
		width: 85.2%;
		margin-left: 7.4%;
	}

	#u2042-6
	{
		min-height: 69px;
		margin-top: 231px;
		position: relative;
		width: 76.4%;
		margin-left: 11.8%;
	}

	#u2038
	{
		margin-top: 15px;
		margin-left: 41%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 431px) and (max-width: 465px)
{
	#muse_css_mq
	{
		background-color: #0001d1;
	}

	#bp_465.active
	{
		display: block;
	}

	#page
	{
		min-height: 620px;
		padding-top: 127px;
		padding-bottom: 21px;
		max-width: 465px;
	}

	#u2224-4
	{
		width: 67.96%;
		margin-left: 15.92%;
	}

	#u3981-7
	{
		margin-top: 30px;
		width: 85.17%;
		margin-left: 7.32%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 231px;
	}

	#u2038
	{
		margin-left: 39.14%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 381px) and (max-width: 430px)
{
	#muse_css_mq
	{
		background-color: #0001ae;
	}

	#bp_430.active
	{
		display: block;
	}

	#page
	{
		min-height: 620px;
		padding-top: 127px;
		padding-bottom: 21px;
		max-width: 430px;
	}

	#u2224-4
	{
		width: 68.14%;
		margin-left: 16.05%;
	}

	#u3981-7
	{
		margin-top: 22px;
		width: 95.82%;
		margin-left: 2.1%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 239px;
	}

	#u2038
	{
		margin-left: 39.07%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 321px) and (max-width: 380px)
{
	#muse_css_mq
	{
		background-color: #00017c;
	}

	#bp_380.active
	{
		display: block;
	}

	#page
	{
		min-height: 620px;
		padding-top: 127px;
		padding-bottom: 21px;
		max-width: 380px;
	}

	#u2224-4
	{
		width: 68.16%;
		margin-left: 16.06%;
	}

	#u3981-7
	{
		margin-top: 22px;
		width: 96.32%;
		margin-left: 1.85%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 239px;
	}

	#u2038
	{
		margin-left: 39.22%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 620px;
		padding-top: 127px;
		padding-bottom: 21px;
		max-width: 320px;
	}

	#u2224-4
	{
		width: 68.13%;
		margin-left: 15.94%;
	}

	#u3981-7
	{
		margin-top: 24px;
		width: 95.63%;
		margin-left: 2.19%;
	}

	#u2042-6
	{
		min-height: 72px;
	}

	#u2042-6-bw
	{
		z-index: 2;
		min-height: 72px;
		margin-top: 224px;
	}

	#u2038
	{
		margin-left: 33.13%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}

	body
	{
		min-width: 289px;
	}
}

