.version.index /* version checker */
{
	color: #0000E3;
	background-color: #1437C9;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	z-index: 1;
	background-position: left top;
	background-repeat: repeat-x;
	margin-left: auto;
	background-color: #0EBEF7;
	border-color: #000000;
	border-width: 0px;
	width: 100%;
	margin-right: auto;
}

#u181
{
	z-index: 2;
	position: relative;
}

#u209
{
	z-index: 8;
	width: 76px;
	position: relative;
	margin-right: -10000px;
}

#u219
{
	z-index: 10;
	width: 76px;
	position: relative;
	margin-right: -10000px;
}

#u229
{
	z-index: 12;
	width: 76px;
	position: relative;
	margin-right: -10000px;
}

#u309-4
{
	font-size: 42px;
	text-align: center;
	background-color: transparent;
	line-height: 50px;
	z-index: 16;
	color: #FFFFFF;
	font-weight: 400;
	font-family: imprima, sans-serif;
}

#u309-4-bw
{
	z-index: 16;
}

#u299
{
	z-index: 14;
	position: relative;
	background-color: transparent;
}

#pu209,#pu352
{
	width: 100%;
}

#u352
{
	background-color: transparent;
	z-index: 20;
	margin-right: -10000px;
	position: relative;
}

#u6209
{
	z-index: 21;
	display: block;
}

#u6268
{
	margin-right: -10000px;
	z-index: 22;
	position: relative;
	height: 45px;
	background: transparent url("../images/google%20play%20badge.png") no-repeat left top;
}

#u198-4
{
	z-index: 4;
	position: relative;
	min-height: 50px;
}

.html
{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0CBCF7', endColorstr='#FF0EBEF7', GradientType=1)";
	background-color: #0CBCF7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0CBCF7, endColorstr=#FF0EBEF7, GradientType=1);
}

body
{
	position: relative;
}

@media (min-width: 751px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1149.6853131749458px;
		background-image: url("../images/u82-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 5000px);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 5000px);
		padding-top: 38px;
		padding-bottom: 11.314686825054196px;
		max-width: 960px;
	}

	#u181
	{
		width: 162px;
		margin-left: 41.57%;
	}

	#pu209
	{
		margin-top: 17px;
	}

	#u209
	{
		left: 33.34%;
	}

	#u219
	{
		left: 46.57%;
	}

	#u229
	{
		left: 59.9%;
	}

	#u309-4
	{
		min-height: 62px;
	}

	#u309-4-bw
	{
		min-height: 62px;
		margin-top: 94px;
	}

	#u299
	{
		width: 57.3%;
		margin-left: 21.36%;
	}

	#u299_img
	{
		width: 100%;
	}

	#pu352
	{
		margin-top: 6px;
	}

	#u352
	{
		width: 150px;
		left: 26.88%;
	}

	#u6209
	{
		margin-bottom: 10px;
	}

	#u6268
	{
		width: 15.63%;
		left: 56.78%;
	}

	#u198-4
	{
		margin-top: 277px;
		width: 48.23%;
		margin-left: 25.84%;
	}

	.html
	{
		background: -webkit-gradient(linear, left center, right center, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(left,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to right,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (min-width: 641px) and (max-width: 750px)
{
	#muse_css_mq
	{
		background-color: #0002ee;
	}

	#bp_750.active
	{
		display: block;
	}

	#page
	{
		min-height: 1115.5853131749457px;
		background-image: url("../images/u82-grad2.png");
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 5000px);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 5000px);
		padding-top: 38px;
		padding-bottom: 15.414686825054332px;
		max-width: 750px;
	}

	#u181
	{
		width: 162px;
		margin-left: 39.2%;
	}

	#pu209
	{
		margin-top: 13px;
	}

	#u209
	{
		left: 28.01%;
	}

	#u219
	{
		left: 44.94%;
	}

	#u229
	{
		left: 61.87%;
	}

	#u309-4
	{
		min-height: 62px;
	}

	#u309-4-bw
	{
		min-height: 62px;
		margin-top: 93px;
	}

	#u299
	{
		width: 550px;
		margin-left: 13.34%;
	}

	#pu352
	{
		margin-top: 6px;
	}

	#u352
	{
		width: 20%;
		left: 22.41%;
	}

	#u6209
	{
		margin-bottom: 6.666666666666667%;
		width: 100%;
	}

	#u6268
	{
		width: 20%;
		left: 57.07%;
	}

	#u198-4
	{
		margin-top: 248px;
		width: 48.27%;
		margin-left: 25.87%;
	}

	.html
	{
		background: -webkit-gradient(linear, left center, right center, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(left,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to right,#0CBCF7 ,#0EBEF7 100%);
	}
}

@media (max-width: 640px)
{
	#muse_css_mq
	{
		background-color: #000280;
	}

	#bp_640.active
	{
		display: block;
	}

	#page
	{
		min-height: 1103px;
		background-image: url("../images/u82-grad3.png");
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 5000px);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 5000px);
		padding-top: 37px;
		padding-bottom: 11px;
		max-width: 640px;
	}

	#u181
	{
		width: 164px;
		margin-left: 35.79%;
	}

	#pu209
	{
		margin-top: 14px;
	}

	#u209
	{
		left: 22.97%;
	}

	#u219
	{
		left: 42.66%;
	}

	#u229
	{
		left: 62.19%;
	}

	#u309-4
	{
		min-height: 50px;
	}

	#u309-4-bw
	{
		min-height: 50px;
		margin-top: 78px;
	}

	#u299
	{
		width: 74.22%;
		margin-left: 12.82%;
	}

	#u299_img
	{
		width: 100%;
	}

	#pu352
	{
		margin-top: 11px;
	}

	#u352
	{
		width: 23.44%;
		left: 20.63%;
	}

	#u6209
	{
		margin-bottom: 6.666666666666667%;
		width: 100%;
	}

	#u6268
	{
		width: 23.44%;
		left: 57.19%;
	}

	#u198-4
	{
		margin-top: 300px;
		width: 48.29%;
		margin-left: 24.38%;
	}

	.html
	{
		background: -webkit-gradient(linear, left center, right center, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(left,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to right,#0CBCF7 ,#0EBEF7 100%);
	}

	body
	{
		min-width: 640px;
	}
}

