
@media (min-width: 727px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (min-width: 726px) and (max-width: 726px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (min-width: 601px) and (max-width: 725px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (min-width: 546px) and (max-width: 600px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (min-width: 466px) and (max-width: 545px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (min-width: 396px) and (max-width: 465px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (min-width: 321px) and (max-width: 395px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}

@media (max-width: 320px)
{
	#u457,#u459,#u461
	{
		background-color: transparent;
	}

}






