#u181,#u209,#u219,#u229
{
	background-color: transparent;
}

#u198-4
{
	color: #FFFFFF;
	background-color: transparent;
	font-family: imprima, sans-serif;
	font-weight: 400;
	text-align: center;
	line-height: 19px;
	font-size: 16px;
}




