#u2042-6
{
	font-size: 19px;
	background-color: transparent;
	font-weight: 400;
	font-family: imprima, sans-serif;
	text-align: center;
	line-height: 23px;
	color: #FFFFFF;
}

#u2038
{
	background-color: transparent;
}




