#u2042-6
{
	background-color: transparent;
	text-align: center;
	line-height: 23px;
	font-weight: 400;
	color: #FFFFFF;
	font-family: fresca, sans-serif;
	font-size: 19px;
}

#u2038
{
	background-color: transparent;
}






