	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1149.6853131749458px;
		background-image: url("../images/u82-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 5000px);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 5000px);
		padding-top: 38px;
		padding-bottom: 11.314686825054196px;
		max-width: 960px;
	}

	#u181
	{
		width: 162px;
		margin-left: 41.57%;
	}

	#pu209
	{
		margin-top: 17px;
	}

	#u209
	{
		left: 33.34%;
	}

	#u219
	{
		left: 46.57%;
	}

	#u229
	{
		left: 59.9%;
	}

	#u309-4
	{
		min-height: 62px;
	}

	#u309-4-bw
	{
		min-height: 62px;
		margin-top: 94px;
	}

	#u299
	{
		width: 57.3%;
		margin-left: 21.36%;
	}

	#u299_img
	{
		width: 100%;
	}

	#pu352
	{
		margin-top: 6px;
	}

	#u352
	{
		width: 150px;
		left: 26.88%;
	}

	#u6209
	{
		margin-bottom: 10px;
	}

	#u6268
	{
		width: 15.63%;
		left: 56.78%;
	}

	#u198-4
	{
		margin-top: 277px;
		width: 48.23%;
		margin-left: 25.84%;
	}

	.html
	{
		background: -webkit-gradient(linear, left center, right center, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(left,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to right,#0CBCF7 ,#0EBEF7 100%);
	}

