	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		z-index: 1;
		min-height: 1158.9853131749455px;
		background: #0EBEF7 url("../images/u82-grad.png") repeat-x left top;
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 5000px);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 5000px);
		border-width: 0px;
		border-color: #000000;
		padding-top: 20px;
		padding-bottom: 20.01468682505447px;
		width: 100%;
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	#u181
	{
		z-index: 2;
		width: 178px;
		position: relative;
		margin-left: 40.73%;
	}

	#pu209
	{
		margin-top: 39px;
		width: 100%;
	}

	#u209
	{
		z-index: 8;
		width: 76px;
		position: relative;
		margin-right: -10000px;
		left: 32.82%;
	}

	#u219
	{
		z-index: 10;
		width: 76px;
		position: relative;
		margin-right: -10000px;
		left: 46.05%;
	}

	#u229
	{
		z-index: 12;
		width: 76px;
		position: relative;
		margin-right: -10000px;
		left: 59.28%;
	}

	#u309-4
	{
		z-index: 16;
		min-height: 62px;
		background-color: transparent;
		line-height: 50px;
		color: #FFFFFF;
		text-align: center;
		font-size: 42px;
	}

	#u309-4-bw
	{
		z-index: 16;
		min-height: 62px;
		margin-top: 83px;
	}

	#u299
	{
		z-index: 14;
		background-color: transparent;
		position: relative;
		width: 57.3%;
		margin-left: 21.36%;
	}

	#pu352
	{
		margin-top: 10px;
		width: 100%;
	}

	#u352
	{
		z-index: 20;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.38%;
		left: 25%;
	}

	#u364
	{
		z-index: 22;
		background-color: transparent;
		position: relative;
		margin-right: -10000px;
		width: 19.38%;
		left: 55.63%;
	}

	#u299_img,#u352_img,#u364_img
	{
		width: 100%;
	}

	#u198-4
	{
		z-index: 4;
		min-height: 50px;
		margin-top: 240px;
		position: relative;
		width: 48.23%;
		margin-left: 25.84%;
	}

	.html
	{
		background-color: #0CBCF7;
		background: -webkit-gradient(linear, left center, right center, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(left,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to right,#0CBCF7 ,#0EBEF7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0CBCF7, endColorstr=#FF0EBEF7, GradientType=1);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0CBCF7', endColorstr='#FF0EBEF7', GradientType=1)";
	}

	body
	{
		position: relative;
	}

