	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 723.7170626349895px;
		padding-top: 30px;
		padding-bottom: 14.282937365010525px;
		max-width: 960px;
	}

	#u2224-4
	{
		width: 43.23%;
		margin-left: 28.44%;
	}

	#widgetu2207
	{
		height: 268px;
		margin-top: 46px;
		margin-left: 32.3%;
	}

	#widgetu2218
	{
		width: 342px;
	}

	#u2220-4
	{
		width: 328px;
	}

	#widgetu2218:hover #u2220-4
	{
		width: 328px;
	}

	#widgetu2218.focus-st #u2220-4
	{
		width: 328px;
	}

	#widgetu2218.fld-err-st,#widgetu2214
	{
		width: 342px;
	}

	#widgetu2218.fld-err-st #u2220-4,#widgetu2218_input,#widgetu2218_prompt,#u2217-4
	{
		width: 328px;
	}

	#widgetu2214:hover #u2217-4
	{
		width: 328px;
	}

	#widgetu2214.focus-st #u2217-4
	{
		width: 328px;
	}

	#u2222-4
	{
		min-height: 24px;
	}

	#widgetu2207.frm-subm-err-st #u2222-4
	{
		min-height: 28px;
	}

	#u2223-17
	{
		background-image: url("../images/u2223-17.png");
	}

	#u2223-17:hover
	{
		background-image: url("../images/u2223-17-r.png");
	}

	#u2223-17:active
	{
		background-image: url("../images/u2223-17-m.png");
	}

	#widgetu2207.frm-sub-st #u2223-17
	{
		background-image: url("../images/u2223-17-fs.png");
	}

	#widgetu2214.fld-err-st,#widgetu2208
	{
		width: 342px;
	}

	#widgetu2208.fld-err-st
	{
		width: 342px;
	}

	#widgetu2214.fld-err-st #u2217-4,#widgetu2214_input,#widgetu2214_prompt,#u2209-4
	{
		width: 328px;
	}

	#widgetu2208:hover #u2209-4
	{
		width: 328px;
	}

	#widgetu2208.focus-st #u2209-4
	{
		width: 328px;
	}

	#widgetu2208.fld-err-st #u2209-4,#widgetu2208_input,#widgetu2208_prompt
	{
		width: 328px;
	}

	#u2042-6
	{
		min-height: 49px;
		margin-top: 185px;
		position: relative;
		width: 52.4%;
		margin-left: 23.75%;
	}

	#u2038
	{
		margin-top: 10px;
		margin-left: 44.38%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}

