	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1140.6853131749458px;
		background-image: url("../images/u82-grad.png");
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 5000px);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 5000px);
		padding-top: 38px;
		padding-bottom: 20.314686825054196px;
		max-width: 960px;
	}

	#u181
	{
		width: 162px;
		margin-left: 41.57%;
	}

	#pu209
	{
		margin-top: 39px;
	}

	#u209
	{
		width: 76px;
		left: 32.82%;
	}

	#u219
	{
		width: 76px;
		left: 46.05%;
	}

	#u229
	{
		width: 76px;
		left: 59.28%;
	}

	#u309-4
	{
		min-height: 62px;
	}

	#u309-4-bw
	{
		min-height: 62px;
		margin-top: 117px;
	}

	#u299
	{
		width: 57.3%;
		margin-left: 21.36%;
	}

	#u299_img
	{
		width: 100%;
	}

	#pu352
	{
		margin-top: 6px;
	}

	#u352
	{
		width: 186px;
		left: 27.92%;
	}

	#u364
	{
		width: 186px;
		left: 53.13%;
	}

	#u198-4
	{
		margin-top: 210px;
		width: 48.23%;
		margin-left: 25.84%;
	}

	.html
	{
		background: -webkit-gradient(linear, left center, right center, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(left,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to right,#0CBCF7 ,#0EBEF7 100%);
	}

