	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 723.7170626349895px;
		padding-top: 30px;
		padding-bottom: 14.282937365010525px;
		max-width: 960px;
	}

	#u2224-4
	{
		width: 43.23%;
		margin-left: 28.44%;
	}

	#u3981-7
	{
		margin-top: 52px;
		width: 70.53%;
		margin-left: 14.8%;
	}

	#u2042-6
	{
		min-height: 49px;
		margin-top: 326px;
		position: relative;
		width: 52.4%;
		margin-left: 23.75%;
	}

	#u2038
	{
		margin-top: 10px;
		margin-left: 44.38%;
	}

	.html
	{
		background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
		background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
		background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	}

