body {
  height: 100%;
  background: url('../images/background.png') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 400 1.438em/1.38 Arial;
  color: rgb(255, 255, 255);
}

.page-casual_cube {
  font-family: Arial;
}

.page-index {
  min-width: none;
  min-height: nonepx;
  font-family: Helvetica;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.casual_cube {
  display: block;
  position: absolute;
  top: 111px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 52%;
  height: 323px;
  margin: 0 auto;
  background: url('../images/banner_casualcubes.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

._container,
.casual_cubes {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.casual_cubes_app_store {
  display: block;
  position: absolute;
  top: 445px;
  right: 29.9987792968%;
  z-index: 4;
  width: 19.04296875%;
  height: 62px;
  border-radius: 3px;
  background: url('../images/button_appstore.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: 0.696em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.casual_cubes_google_play {
  display: block;
  position: absolute;
  top: 445px;
  left: 30%;
  z-index: 3;
  width: 20%;
  min-width: none;
  max-width: 205px;
  height: 62px;
  min-height: nonepx;
  max-height: 62px;
  border-radius: 3px;
  background: url('../images/button_google_play.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: 0.696em;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.casual_cubes_title {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 2;
  width: 34.375%;
  min-width: none;
  min-height: 51px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-size: 1.957em;
  text-align: center;
  color: rgb(255, 255, 255);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.email {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 10.0260416666%;
  height: 75px;
  margin: 0 auto;
  border-radius: 3px;
  background: url('../images/email.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.696em;
}

.facebook {
  display: block;
  position: absolute;
  right: 30%;
  width: 9.9995930989%;
  height: 75px;
  border-radius: 3px;
  background: url('../images/facebook.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.696em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.footer_text {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 25px;
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
}

.google_play {
  display: block;
  position: absolute;
  top: 610px;
  width: 16.5833333333%;
  height: 57px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(222, 222, 222, 0);
  font-family: Helvetica;
  font-size: 0.696em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.image {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 3;
  width: 500px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.image1 {
  display: block;
  position: absolute;
  top: 950px;
  left: 15%;
  z-index: 6;
  width: 256px;
  height: 384px;
  background: url('../images/cc_screen1_thumb.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image2 {
  display: block;
  position: absolute;
  top: 950px;
  left: 0;
  right: 0;
  z-index: 7;
  width: 256px;
  height: 384px;
  margin: 0 auto;
  background: url('../images/cc_screen2_thumb.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image3 {
  display: block;
  position: absolute;
  top: 950px;
  right: 15%;
  z-index: 8;
  width: 256px;
  height: 384px;
  background: url('../images/cc_screen3_thumb.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image4 {
  display: block;
  position: absolute;
  top: 1375px;
  left: 27%;
  z-index: 9;
  width: 256px;
  height: 384px;
  background: url('../images/cc_screen4_thumb.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image5 {
  display: block;
  position: absolute;
  top: 1375px;
  right: 27%;
  z-index: 10;
  width: 256px;
  height: 384px;
  background: url('../images/cc_screen5_thumb.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.text {
  position: absolute;
  top: 700px;
  left: 0;
  right: 0;
  z-index: 4;
  width: 50%;
  height: 100px;
  margin: 0 auto;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text2 {
  position: absolute;
  top: 815px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 50%;
  height: 100px;
  margin: 0 auto;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.twitter {
  display: block;
  position: absolute;
  left: 30%;
  width: 9.9995930989%;
  height: 75px;
  border-radius: 3px;
  background: url('../images/twitter.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.696em;
}

.casual_cubes-1 {
  top: 150px;
  z-index: 13;
  width: 1200px;
  max-width: 1200px;
  height: 1801px;
}

.casual_cubes-2 {
  top: 350px;
  z-index: 6;
  width: 100%;
  min-width: none;
  max-width: 1024px;
  height: 517px;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.email-1 {
  top: 50px;
  z-index: 14;
  font-family: Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.email-2 {
  top: 238px;
  z-index: 7;
  min-width: none;
  min-height: nonepx;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.facebook-1 {
  top: 50px;
  z-index: 15;
  font-family: Helvetica;
}

.facebook-2 {
  top: 238px;
  z-index: 8;
  min-width: none;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.footer_text-1 {
  top: 0;
  width: 87.2457206143%;
  font-family: Helvetica;
  font-size: 1.087em;
}

.footer_text-2 {
  top: 45px;
  z-index: 0;
  width: 100%;
  min-width: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 0.696em;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.google_play-1 {
  right: 30%;
  z-index: 12;
  background-image: url('../images/button_appstore.png');
}

.google_play-2 {
  left: 30%;
  z-index: 11;
  background-image: url('../images/button_google_play.png');
}

.logo-1 {
  top: 15px;
  z-index: 10;
  width: 175px;
  min-width: none;
  height: auto;
  min-height: nonepx;
  overflow: hidden;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.logo-2 {
  top: 75px;
  z-index: 1;
  width: 15.015641293%;
  height: 154px;
  background: url('../images/logo.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.twitter-1 {
  top: 50px;
  z-index: 16;
  font-family: Helvetica;
  text-align: center;
  color: rgb(0, 0, 0);
}

.twitter-2 {
  top: 238px;
  z-index: 9;
  min-width: none;
  min-height: nonepx;
  border-style: none;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._container-1 {
  top: 0;
  z-index: 17;
  width: 768px;
  max-width: 768px;
  height: 150px;
}

._container-2 {
  top: 0;
  z-index: 11;
  width: 75%;
  min-width: none;
  max-width: 768px;
  height: 350px;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

._container-3 {
  top: 1950px;
  z-index: 2;
  width: 959px;
  max-width: 959px;
  height: 290px;
}

._container-4 {
  top: 895px;
  z-index: 1;
  width: 79.9479166666%;
  min-width: none;
  height: 92px;
  min-height: nonepx;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

@media(max-width: 1024px) {
  .page-casual_cube {
    height: 100%;
    background-image: none;
    background-position: 0% 0%;
  }

  .casual_cubes .google_play {
    left: 0;
    right: 0;
    width: 23.9166259765%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.8em;
  }

  .casual_cubes .image {
    top: 164px;
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .image1 {
    top: 1150px;
    left: 10%;
  }

  .casual_cubes .image2 {
    top: 1150px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .image3 {
    top: 1150px;
    right: 10%;
  }

  .casual_cubes .image4 {
    top: 1575px;
    left: 23.5%;
  }

  .casual_cubes .image5 {
    top: 1575px;
    right: 23.5%;
  }

  .casual_cubes .text {
    top: 875px;
    left: 0;
    right: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
  }

  .casual_cubes .text2 {
    top: 1015px;
    left: 0;
    right: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
  }

  .casual_cubes .google_play-1 {
    top: 747px;
  }

  .casual_cubes .google_play-2 {
    top: 780px;
  }

  .casual_cubes-1 {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1974px;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .email-1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.8em;
  }

  ._container .facebook-1 {
    font-size: 0.8em;
  }

  ._container .footer_text-1 {
    top: 45px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.25em;
  }

  ._container .logo-2 {
    top: 134px;
    left: 0;
    right: 0;
    width: 21.1321907088%;
    height: 192px;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .twitter-1 {
    width: 10%;
    font-size: 0.8em;
  }

  ._container-1 {
    left: 0;
    right: 0;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  ._container-3 {
    top: 2000px;
    left: 0;
    right: 0;
    width: 80%;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 768px) {
  .page-casual_cube {
    height: 100%;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center center;
  }

  ._container .email-1,
  ._container .footer_text-1,
  ._container .footer_text-2,
  .casual_cubes {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .casual_cube {
    left: 0;
    right: 0;
    width: 67%;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .casual_cubes_app_store {
    top: 440px;
    right: 20%;
    width: 25%;
    background-size: contain;
    font-style: normal;
  }

  .casual_cubes .casual_cubes_google_play {
    top: 440px;
    left: 20%;
    width: 25%;
    max-width: none;
    max-height: none;
    background-size: contain;
  }

  .casual_cubes .casual_cubes_title {
    left: 0;
    right: 0;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .google_play {
    left: 0;
    right: 0;
    width: 23.9156087239%;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .logo-1,
  .casual_cubes .image {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .image1 {
    top: 1075px;
    left: 20%;
    width: 128px;
    height: 192px;
  }

  .casual_cubes .image2 {
    top: 1075px;
    left: 0;
    right: 0;
    width: 128px;
    height: 192px;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .image3 {
    top: 1075px;
    right: 20%;
    width: 128px;
    height: 192px;
  }

  .casual_cubes .image4 {
    top: 1283px;
    left: 31%;
    width: 128px;
    height: 192px;
  }

  .casual_cubes .image5 {
    top: 1283px;
    right: 31%;
    width: 128px;
    height: 192px;
  }

  .casual_cubes .text {
    top: 850px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .text2 {
    top: 950px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  ._container {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .google_play-2 {
    top: 760px;
  }

  ._container .email-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .logo-2 {
    left: 0;
    right: 0;
    width: 23.4533655681%;
    height: 155px;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .twitter-1 {
    left: 29.9479166666%;
  }

  ._container .twitter-2 {
    left: 29.9479166666%;
    width: 10%;
  }

  ._container-2 {
    width: 100%;
  }

  ._container-3 {
    top: 1526px;
    width: 79.9458821614%;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1.125em;
  }

  .casual_cubes {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .casual_cube {
    top: 110px;
    left: 0;
    right: 0;
    width: 67.0833333333%;
    height: 197px;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .casual_cubes_app_store {
    top: 310px;
    right: 15%;
    width: 30%;
    height: 49px;
    font-size: 0.889em;
  }

  .casual_cubes .casual_cubes_google_play {
    top: 310px;
    left: 15%;
    width: 30%;
    height: 49px;
    font-size: 0.889em;
  }

  .casual_cubes .casual_cubes_title {
    left: 0;
    right: 0;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5em;
  }

  .casual_cubes .google_play {
    left: 0;
    right: 0;
    width: 23.9583333333%;
    height: 35px;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.889em;
  }

  .casual_cubes .image {
    top: 125px;
    left: 0;
    right: 0;
    width: 401px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .image1 {
    top: 900px;
    left: 8%;
  }

  .casual_cubes .image2 {
    top: 900px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .image3 {
    top: 900px;
    right: 8%;
  }

  .casual_cubes .image4 {
    top: 1100px;
    left: 22.5%;
  }

  .casual_cubes .image5 {
    top: 1100px;
    right: 22.5%;
  }

  .casual_cubes .text {
    top: 675px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }

  .casual_cubes .text2 {
    top: 785px;
    left: 0;
    right: 0;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }

  ._container {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .casual_cubes .google_play-2 {
    top: 600px;
  }

  ._container .email-1 {
    top: 30px;
    left: 0;
    right: 0;
    width: 12%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.889em;
  }

  ._container .email-2 {
    left: 0;
    right: 0;
    width: 12%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.889em;
  }

  ._container .facebook-1,
  ._container .twitter-1 {
    top: 30px;
    width: 12%;
    font-size: 0.889em;
  }

  ._container .facebook-2 {
    width: 12%;
    font-size: 0.889em;
  }

  ._container .footer_text-1 {
    top: 0;
    left: 0;
    right: 0;
    width: 105.5417565861%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
  }

  ._container .footer_text-2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.889em;
  }

  ._container .logo-1 {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .logo-2 {
    top: 75px;
    left: 0;
    right: 0;
    width: 23.7143206156%;
    height: 97px;
    margin-right: auto;
    margin-left: auto;
  }

  ._container .twitter-2 {
    font-size: 0.889em;
  }

  ._container-3 {
    top: 1329px;
    width: 80%;
    height: 187px;
  }

  ._container-4 {
    top: 800px;
  }
}