.version.bouncy_cubes /* version checker */
{
	color: #000018;
	background-color: #D41752;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1274.9629589632827px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-bottom: -55px;
	padding-top: 14px;
	width: 100%;
}

#u5508
{
	z-index: 10;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	left: 21.06%;
}

#u5510
{
	z-index: 12;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	left: 43.95%;
}

#u5512
{
	z-index: 14;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	left: 67.11%;
}

#u7914
{
	z-index: 16;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
	width: 100%;
}

#u7921
{
	z-index: 18;
	width: 150px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
	margin-left: 30.27%;
}

#u7922
{
	z-index: 19;
	display: block;
	margin-bottom: 9px;
}

#u7930-6
{
	z-index: 20;
	min-height: 88px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 24px;
	font-size: 20px;
	font-family: imprima, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 18px;
	position: relative;
	width: 87.37%;
	margin-left: 6.32%;
}

#u8024
{
	z-index: 36;
	min-height: 232px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u8024-bw
{
	z-index: 36;
	min-height: 232px;
	margin-top: 33px;
}

#pu7938
{
	margin-top: 24px;
	width: 100%;
}

#u7938
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 30.53%;
	left: 2.64%;
}

#u7940
{
	z-index: 28;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 30.53%;
	left: 35.53%;
}

#u7942
{
	z-index: 30;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 30.53%;
	left: 68.69%;
}

#pu7944
{
	margin-top: 10px;
	width: 100%;
}

#u7944
{
	z-index: 32;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 30.53%;
	left: 18.43%;
}

#u7946
{
	z-index: 34;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 30.53%;
	left: 52.64%;
}

#pu5508,#u7914_img,#u7938_img,#u7940_img,#u7942_img,#u7944_img,#u7946_img
{
	width: 100%;
}

#u5585-6
{
	z-index: 2;
	min-height: 49px;
	margin-top: 27px;
	position: relative;
	width: 96.58%;
	margin-left: 3.43%;
}

#u5586
{
	z-index: 8;
	width: 65px;
	position: relative;
	margin-left: 43.16%;
}

.html
{
	background-color: #6C4191;
	background: -webkit-gradient(linear, center top, center bottom, from(#6C4191),color-stop(100%, #6C4191));
	background: -webkit-linear-gradient(top,#6C4191 ,#6C4191 100%);
	background: linear-gradient(to bottom,#6C4191 ,#6C4191 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF6C4191, endColorstr=#FF6C4191, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6C4191', endColorstr='#FF6C4191', GradientType=0)";
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 59px;
}




