.version.casual_cube /* version checker */
{
	color: #0000E5;
	background-color: #13E056;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 1459.9629589632827px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-bottom: -55px;
	padding-top: 14px;
	width: 100%;
}

#pu5508
{
	width: 57.9%;
	margin-left: 21.06%;
}

#u5508
{
	z-index: 10;
	width: 45px;
	position: relative;
	margin-right: -10000px;
}

#u5510
{
	z-index: 12;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	left: 39.55%;
}

#u5512
{
	z-index: 14;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	left: 79.55%;
}

#u5789
{
	z-index: 16;
	width: 315px;
	background-color: transparent;
	margin-top: 45px;
	position: relative;
	margin-left: 8.43%;
}

#pu5791
{
	margin-top: 13px;
	width: 73.43%;
	margin-left: 12.9%;
}

#u5791
{
	z-index: 18;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6175
{
	z-index: 19;
	display: block;
	margin-bottom: 8px;
}

#u5793
{
	z-index: 20;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 56.99%;
}

#u5795-11
{
	z-index: 22;
	min-height: 123px;
	background-color: transparent;
	line-height: 23px;
	text-align: justify;
	font-size: 19px;
	color: #FFFFFF;
	font-family: imprima, sans-serif;
	font-weight: 400;
	margin-top: 28px;
	position: relative;
	width: 88.69%;
	margin-left: 5.53%;
}

#u5845
{
	z-index: 33;
	min-height: 207px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
	width: 94.74%;
	margin-left: 2.64%;
}

#pu5928
{
	margin-top: 18px;
	width: 96.58%;
	margin-left: 2.64%;
}

#u5928
{
	z-index: 34;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 31.61%;
}

#u5930
{
	z-index: 36;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 31.61%;
	left: 34.06%;
}

#u5932
{
	z-index: 38;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 31.61%;
	left: 68.4%;
}

#pu5934
{
	margin-top: 9px;
	width: 64.74%;
	margin-left: 18.43%;
}

#u5934
{
	z-index: 40;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.16%;
}

#u5936
{
	z-index: 42;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 47.16%;
	left: 52.85%;
}

#u5928_img,#u5930_img,#u5932_img,#u5934_img,#u5936_img
{
	width: 100%;
}

#u5585-6
{
	z-index: 2;
	min-height: 49px;
	margin-top: 47px;
	position: relative;
	width: 96.58%;
	margin-left: 3.43%;
}

#u5586
{
	z-index: 8;
	width: 65px;
	position: relative;
	margin-left: 43.16%;
}

.html
{
	background-color: #0CBCF7;
	background: -webkit-gradient(linear, center top, center bottom, from(#0CBCF7),color-stop(100%, #0EBEF7));
	background: -webkit-linear-gradient(top,#0CBCF7 ,#0EBEF7 100%);
	background: linear-gradient(to bottom,#0CBCF7 ,#0EBEF7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0CBCF7, endColorstr=#FF0EBEF7, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0CBCF7', endColorstr='#FF0EBEF7', GradientType=0)";
}

body
{
	position: relative;
	min-width: 320px;
	padding-bottom: 82px;
}

